{% extends "base.html" %}

{% block container %}

    <h1 class="w3-text-teal w3-display-middle" style="margin-left:135px">Bienvenido</h1>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Licencia de Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a><br />Este obra cuyo autor es <span xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName">Cesar Orozco (@corozco7)</span> está bajo una <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">licencia de Reconocimiento 4.0 Internacional de Creative Commons</a>.

{% endblock %}