{% extends "base.html" %}
{% load static %}

{% block container %}
    <div class="w3-card-4 w3-padding-16">
        <form method="post" enctype="multipart/form-data" class="w3-container">
            {% csrf_token %}
            <p>
                La resistencia a la tensión de cierto componente de metal se distribuye normalmente con una media de {{ form.mu }} kilogramos por centímetro cuadrado y una desviación estándar de {{ form.sigma }} kilogramos por centímetro cuadrado. Si las especificaciones requieren que todos los componentes tengan una resistencia a la tensión de entre {{ form.x1 }} y {{ form.x2 }} kilogramos por centímetro cuadrado, ¿qué proporción de piezas esperaría que se descartara?
            </p>
            <input type="submit" value="Calcular">
        </form>
    </div>
{% endblock %}