{% extends "base.html" %}
{% load static %}

{% block container %}
<div class="w3-card-4 w3-padding-16">
    <form method="post" enctype="multipart/form-data" class="w3-container">
        {% csrf_token %}
        <p>
            Un investigador informa que unos ratones a losque primero se les restringen drásticamente sus dietas y después se les enriquecen con vitaminas y proteínas vivirán un promedio de {{ form.mu }} meses. Si suponemos que la vida de tales ratones se distribuye normalmente, con una desviación estándar de {{ form.sigma }} meses, calcule la probabilidad de que un ratón determinado viva entre {{ form.x1 }} y {{ form.x2 }} meses.
        </p>
        <input type="submit" value="Calcular">
    </form>
</div>
{% endblock %}