{% extends "base.html" %}
{% load static %}

{% block container %}
<div class="w3-card-4 w3-padding-16">
    <form method="post" enctype="multipart/form-data" class="w3-container">
        {% csrf_token %}
        <p>
            En el ejemplar de noviembre de 1990 de Chemical Engineering Progress, un estudio analiza el porcentaje de pureza del oxígeno de cierto proveedor. Suponga que la media fue de {{ form.mu }}, con una desviación estándar de {{ form.sigma }}. Suponga que la distribución del porcentaje de pureza fue aproximadamente normal.  ¿Qué porcentaje de los valores de pureza esperaría que estuvieran entre {{ form.x1 }} y {{ form.x2 }}?
        </p>
        <input type="submit" value="Calcular">
    </form>
</div>
{% endblock %}