{% load static %}

<nav class="w3-sidebar w3-bar-block w3-collapse w3-large w3-theme-l5 w3-animate-left" id="mySidebar">
    <a href="javascript:void(0)" onclick="w3_close()" class="w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large" title="Close Menu">
        <i class="fa fa-remove"></i>
    </a>
    <h4 class="w3-bar-item"><b>Menu</b></h4>
    <a class="w3-bar-item w3-button w3-hover-black" href="{% url 'norm:one' %}">Ejercicio 1</a>
    <a class="w3-bar-item w3-button w3-hover-black" href="{% url 'norm:two' %}">Ejercicio 2</a>
    <a class="w3-bar-item w3-button w3-hover-black" href="{% url 'norm:three' %}">Ejercicio 3</a>
</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>